In [1]:
#Write a Program to interchange first and last elements in a list

l1=['Ahemdabad', True, 'California',1]
l1[0]= 1
l1[3]='Ahemdabad'
print(l1)

[1, True, 'California', 'Ahemdabad']

In [2]:
#Program to swap two elements in a list
l2=[1,2,3,4,5,6]
l2[2]= 4
l2[3]= 3
print(l2)

[1, 2, 4, 3, 5, 6]

In [3]:
#Swap elements in String list
l3=['samriddhi', 'jhalak', 'rahul', 'rohan']
l3[0]='jhalak'
l3[1]='samriddhi'
print(l3)

['jhalak', 'samriddhi', 'rahul', 'rohan']

In [4]:
#Ways to find length of list
l4=['cherry', 'apple','banana',1,2,3]
print(len(l4))

6

In [5]:
#Maximum of two numbers in Python
l5=[4,5]
print(max(l5))

5

In [6]:
#Minimum of two numbers in Python
l6=[45,54]
print(min(l6))

45

In [7]:
#Ways to check if element exists in list
l7=[1,2,3,4,5,6]
print(1 in l7)

True

In [8]:
#Different ways to clear a list in Python
#way 1
l8=['apple','ball','cat','dog']
l8.remove('apple')
l8.remove('ball')
l8.remove('cat')
l8.remove('dog')
print(l8)

[]

In [32]:
#way 2
l8=['apple','ball','cat','dog']
l8.pop(0)
l8.pop(0)
l8.pop(0)
l8.pop(0)
print(l8)
#or
l8=['apple','ball','cat','dog']
l8.pop()
l8.pop()
l8.pop()
l8.pop()
print(l8)

[]
[]

In [34]:
#way3
l8=['apple','ball','cat','dog']
del l8[0:5]
print(l8)

[]

In [36]:
#way 4
l8=['apple','ball','cat','dog']
l8.clear()
print(l8)

[]

In [40]:
#Reversing a List
l9=[1,2,3,4,5,6,7,8]
l9.sort(reverse=True)
print(l9)

[8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
#Cloning or Copying a list
l10=['samriddhi','negi','delhi', 'aaft']
x=l10.copy()
print(x)

['samriddhi', 'negi', 'delhi', 'aaft']

In [46]:
#Count occurrences of an element in a list
l11=[24,36,48,102, 102, 102]
print(l11.count(102))

3

In [52]:
#Program to find sum and average of List in Python
l12=[24,36,48,102, 102, 102]
total=sum(l12)
avg=total/len(l12)
print(total)
print(avg)

414
69.0

In [60]:
#Sum of number digits in List
l13=[1,6,8]
print(sum(l13))

15

In [62]:
#Multiply all numbers in the list
l14=[1,2,4,6,8,10]
product=1*2*4*6*8*10
print(product)

3840

In [66]:
#Program to find smallest number in a list
l15=[1,2,3,4,5,6,7,8]
print(min(l15))

1

In [68]:
#Program to find largest number in a list
l15=[1,2,3,4,5,6,7,8]
print(max(l15))

8

In [72]:
#Program to find second largest number in a list
l16=[1,2,3,4,5,6,7,8,9,10]
second_largest = sorted(set(l16), reverse=True)[1]
print("Second largest number:", second_largest)

Second largest number: 9

In [82]:
#Program to print even numbers in a list
l17=[1,2,3,4,5,6,7,8,9,10]
for i in l17:
 if i%2==0:
  print(i)

2
4
6
8
10

In [84]:
#Program to print odd numbers in a List
l17=[1,2,3,4,5,6,7,8,9,10]
for i in l17:
 if i%2!=0:
  print(i)

1
3
5
7
9

In [86]:
#Program to print all even numbers in a range
l18=[1, 2, 3, 4, 5, 6, 7, 8]
even=[num for num in l18 if num % 2 == 0]
print(even)

[2, 4, 6, 8]

In [88]:
#Program to print all odd numbers in a range
l18=[1, 2, 3, 4, 5, 6, 7, 8]
odd=[num for num in l18 if num % 2 != 0]
print(odd)

[1, 3, 5, 7]

In [92]:
#Program to count Even and Odd numbers in a List
l19=[1, 2, 3, 4, 5, 6, 7, 8]
even=[num for num in l19 if num % 2 == 0]
odd=[num for num in l18 if num % 2 != 0]
print(len(even))
print(len(odd))

4
4

In [94]:
#Program to print positive numbers in a list
l20=[1, 2, -3, 4, 5, -6, -7, 8]
for i in l20:
  if i>0:
    print(i)

1
2
4
5
8

In [96]:
#Program to print negative numbers in a list
l20=[1, 2, -3, 4, 5, -6, -7, 8]
for i in l20:
    if i<0:
        print(i)

-3
-6
-7

In [108]:
#Program to print all positive numbers in a range
l21=[-3,-2,-1,1,2,3]
positive=[num for num in l21 if num>0]
print(positive)

[1, 2, 3]

In [110]:
#Program to print all negative numbers in a range
l22=[-3,-2,-1,1,2,3]
negative=[num for num in l22 if num<0]
print(negative)

[-3, -2, -1]

In [112]:
#Program to count positive and negative numbers in a list
l23=[-4,-3,-2,-1,1,2,3,4]
positive=[num for num in l23 if num>0]
negative=[num for num in l23 if num<0]
print(len(positive))
print(len(negative))

4
4

In [114]:
#Remove multiple elements from a list in Python
L24=[1,2,3,4,5,6,7,8,9]
del L24[3:]
L1

[(1, 2), (3, 4), (5, 6)]

In [118]:
#Remove empty tuples from a list
L25=[(1, 2),(),(3, 4),(5, 6)]
L25=[tuple for tuple in L25 if tuple]
print(L25)

[(1, 2), (3, 4), (5, 6)]

In [120]:
#Program to print duplicates from a list of integers
L26=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
L27=[]
L28=[]
for i in L26:
    if i not in L27:
        L27.append(i)
    elif i not in L28:
        L28.append(i)
print(L28)

[2, 3, 4, 5]